PORT=5005
FIREBASE_STORAGE_BUCKET=mavi-viet-su-so.appspot.com
OPENROUTER_API_KEY=your_openrouter_api_key_here

# Dành cho Deployment (Chuỗi Base64 của serviceAccountKey.json)
# FIREBASE_SERVICE_ACCOUNT_KEY=your_base64_encoded_service_account_key
